{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
{% include 'subnav_base.html'%}
    <form method="POST" action="">
        <legend>{% trans "Change password" %}</legend>
        <fieldset>
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
            {% buttons %}
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">{% trans "Save" %}</button>
            {% endbuttons %}
            </div>
        </fieldset>
    </form>
{% endblock %}
