absl-py==0.7.1
AdvancedHTTPServer==2.2.0
aiodns==1.1.1
aiohttp==3.6.2
aiohttp-socks==0.2.2
aiorpcX==0.18.3
ajpy==0.0.4
alabaster==0.7.12
alembic==1.0.11.dev0
aniso8601==8.0.0
apparmor==2.13.3
asn1crypto==0.24.0
astor==0.8.1
astroid==2.3.3
async-timeout==3.0.1
attrs==19.1.0
Babel==2.6.0
backdoor-factory==0.0.0
bcrypt==3.1.7
beautifulsoup4==4.8.0
binwalk==2.2.0
bleach==3.1.4
blinker==1.4
boltons==19.1.0
boto==2.49.0
boto3==1.4.7
botocore==1.7.43
Brotli==1.0.7
cairocffi==0.9.0
capstone==3.0.5
Cerberus==1.2
certifi==2019.6.16
cffi==1.12.2
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
colorama==0.4.1
configobj==5.0.6
contextlib2==0.5.5
crcelk==1.3
cryptography==3.2
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.14
decorator==4.4.0
defusedxml==0.6.0
dhcpig==0.0.0
dicttoxml==1.7.4
distro==1.3.0
dj-database-url==0.5.0
Django==2.2.13
django-allauth==0.39.1
django-bootstrap3==11.1.0
django-chartit==0.2.9
django-dropbox-storage==0.4.1
django-filter==2.2.0
django-heroku==0.3.1
django-restframework==0.0.1
django-widget-tweaks==1.4.3
djangorestframework==3.10.3
dnslib==0.9.10
dnspython==1.16.0
docutils==0.14
dropbox==9.4.0
EasyProcess==0.2.5
ecdsa==0.13.3
Electrum==3.3.8
email-validator==1.0.3
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.1
Flask-HTTPAuth==3.2.4
future==0.16.0
fuzzywuzzy==0.17.0
gast==0.3.2
GeoIP==1.3.2
geoip2==2.9.0
geojson==2.5.0
gevent==1.4.0
goofile==1.6
google==2.0.2
google-pasta==0.1.8
gpg===1.13.1-unknown
graphene==2.1.7
graphene-sqlalchemy==2.1.2
graphql-core==2.2.1
graphql-relay==2.0.0
greenlet==0.4.15
grequests==0.4.0
grpcio==1.26.0
gunicorn==19.9.0
h11==0.8.1
h2==3.0.1
h5py==2.10.0
hashID==3.1.4
hpack==3.0.0
html5lib==0.999999999
httplib2==0.18.0
hyperframe==5.2.0
icalendar==4.0.3
idna==2.8
impacket==0.9.20
IPy==0.83
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jmespath==0.9.3
jsonrpclib-pelix==0.3.1
jsonschema==3.0.1
jupyter-client==5.3.4
jupyter-core==4.6.1
kaitaistruct==0.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.1
keyrings.alt==3.2.0
KismetCaptureFreaklabsZigbee==2018.7.0
KismetCaptureRtl433==2019.7.0
KismetCaptureRtladsb==2018.7.1
KismetCaptureRtlamr==2018.7.0
kismetexternal==2019.5.1
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
ldap3==2.5.1
ldapdomaindump==0.9.1
LibAppArmor==2.13.3
logutils==0.3.3
lxml==4.4.1
lz4==2.1.10+dfsg
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.1.1
mate-menu==19.10.2
mate-tweak==19.10.4
matplotlib==3.0.2
maxminddb==1.4.1
mccabe==0.6.1
mechanize==0.4.3
meld==3.20.1
mistune==0.8.4
mitmproxy==4.0.4
msgpack==0.5.6
multidict==4.6.1
mutagen==1.40.0
mysqlclient==1.4.4
nassl==2.2.0
nbconvert==5.6.0
nbformat==4.4.0
netaddr==0.7.19
nose==1.3.7
notebook==5.7.8
numpy==1.16.5
nyx==2.1.0
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
onioncircuits==0.6
onionshare==2.2
opencv-python==4.1.2.30
openpyxl==2.6.1
packaging==19.1
pandocfilters==1.4.2
paramiko==2.6.0
parsero==0.82
passlib==1.7.1
patator==0.7
patsy==0.5.1
pefile==2019.4.18
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
plecost==1.1.2
plotly==4.1.0
pluginbase==1.0.0
ply==3.11
prometheus-client==0.7.1
promise==2.2
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.6.7
psycopg2==2.7.5
psycopg2-binary==2.8.4
pyaes==1.6.1
pyasn1==0.4.2
pycairo==1.16.2
pycares==2.1.1
pycountry==19.8.18
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.4
pycryptodomex==3.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyenchant==2.0.0
Pygments==2.3.1
PyGObject==3.34.0
pyinotify==0.9.6
pylint==2.4.4
pymongo==3.7.1
PyNaCl==1.3.0
pyodbc==4.0.22
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyotp==2.3.0
pyparsing==2.4.2
pyperclip==1.6.4
PyQt5==5.12.3
pyqtgraph==0.11.0.dev0
pyrsistent==0.15.5
pyserial==3.4
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
pysmi==0.3.2
pysnmp==4.4.6
PySocks==1.6.8
python-apt==1.8.4+b1
python-dateutil==2.7.3
python-debian==0.1.36
python-debianbts==2.8.2
python-editor==1.0.3
python-Levenshtein==0.12.0
python-libnmap==0.7.0
python-magic==0.4.16
python-magic-ahupp==0.4.13
python-memcached==1.58
python-pam==1.8.4
python-xlib==0.23
python3-openid==3.1.0
pytz==2018.9
PyVirtualDisplay==0.2.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.1.2
pyzmq==17.1.2
qrcode==6.1
QtPy==1.3.1
rave-python==1.0.2
redis==3.3.11
reportbug==7.5.3
requests==2.22.0
requests-file==1.4.3
requests-oauthlib==1.2.0
retrying==1.3.3
ruamel.yaml==0.15.89
rule-engine==1.1.0
Rx==1.6.1
s3transfer==0.1.13
scapy==2.4.3
scipy==1.3.3
SecretStorage==2.3.1
selenium==4.0.0a1
Send2Trash==1.5.0
setproctitle==1.1.10
shodan==1.11.1
simplegeneric==0.8.1
simplejson==3.16.0
sip==4.19.19
six==1.13.0
smoke-zephyr==1.4.1
sortedcontainers==2.1.0
soupsieve==1.9.4
SQLAlchemy==1.3.11
sqlparse==0.3.0
sslyze==2.1.4
stem==1.7.1
tabulate==0.8.2
tensorboard==1.14.0
tensorflow==1.15.4
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.2
termineter==1.0.4
testpath==0.4.2
texttable==1.6.2
theHarvester==3.1.0
tld==0.9.1
tls-parser==1.2.1
torbrowser-launcher==0.3.2
tornado==5.1.1
traitlets==4.3.3
typed-ast==1.4.0
tzlocal==1.5.1
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.6
urwid==2.0.1
vinetto==0.8.0
virtualenv==16.7.7
wafw00f==1.0.0
wapiti3==3.0.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.16.0
wfuzz==2.4
whitenoise==4.1.2
widgetsnbextension==2.0.0
wifite==2.5.0
wrapt==1.11.2
wsproto==0.11.0
xcffib==0.8.1
XlsxWriter==1.1.2
yara-python==3.10.0
yarl==1.3.0
yaswfp==0.9.3
youtube-dl==2019.9.28
