        section {
            padding: 20px 0px;
        }
        
        .modal form {
            margin-bottom: 0px;
        }
        
        footer {
            padding-bottom: 20px;
        }
        
        p.login-signup {
            margin-top: 20px;
        }
        
        // ------------------------  Stripe
        #payment-exp-month,
        #payment-exp-cvc {
            padding: 6px;
            min-width: 40px;
        }
        
        #payment-exp-year {
            margin-left: -15px;
        }
        
        .for-cvc {
            max-width: 50px;
        }
        
        .sidebar1 {
            background: #004085;
            /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#004085, #007bff, #17a2b8);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#004085, #007bff, #17a2b8);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#004085, #007bff, #17a2b8);
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(#004085, #007bff, #17a2b8);
            /* Standard syntax */
            padding: 0px;
            min-height: 100%;
            z-index: 1000;
        }
        
        .logo {
            max-height: 130px;
        }
        
        .logo>img {
            margin-top: 30px;
            margin: 50px;
            padding: 3px;
            border: 3px solid white;
            border-radius: 100%;
        }
        
        .list {
            color: #fff;
            list-style: none;
            padding-left: 0px;
        }
        
        .list::first-line {
            color: rgba(255, 255, 255, 0.5);
        }
        
        .list>li,
        h5 {
            padding: 5px 0px 5px 40px;
        }
        
        .list>li:hover {
            background-color: rgba(255, 255, 255, 0.2);
            border-left: 5px solid white;
            color: white;
            font-weight: bolder;
            padding-left: 35px;
        }
        
        .main-content {
            text-align: center;
        }
        
        .sidebar1 a {
            color: #fff;
            text-decoration: none;
            background-color: transparent;
        }