{% extends "pinax/documents/base.html" %}

{% block body_class %}{{ block.super }} filestore-document-create{% endblock %}

{% load bootstrap4 %}

{% block head_title %}Upload file{% if folder %} in {{ folder.name }}{% endif %}{% endblock %}

{% block body %}
<div class="filestore-document-create-container">
    <h2>
        Upload file{% if folder %} in {{ folder.name }}{% endif %}
    </h2>

    {% include "pinax/documents/_breadcrumbs.html" with member=folder %}

    <form method="POST" action="{% url 'pinax_documents:document_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        {% bootstrap_form form %}
        <div class="form-actions">
            {% buttons %}
                <button type="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Upload</button>
            {% endbuttons %}
        </div>
    </form>
</div>
{% endblock %}
