<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #007bff;>
        <a class="navbar-brand" href="/"><b>File<span style="color:#007bff;">Store</span></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active" align="right">
                <a class="nav-link" href="{% url 'pinax_documents:document_create' %}">Upload File</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pinax_documents:folder_create' %}">Create Folder</a>
            </li>
            </ul>
        </div>
    </nav>